/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //this define what 1rem is
    font-size: 62.5%; // (1rem=10px) 10/16 * 100 = 62.5
}

body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}